<%= form_for @homework do |f| %>
  <% if @homework.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@homework.errors.count, "error") %> prohibited
        this homework from being saved:
      </h2>
      <ul>
        <% @homework.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table-primary" align="center">
  <thead>
    <tr align="center">
      <th scope="col">Student</th>
      <th scope="col">Subject</th>
      <th scope="col">Mark</th>
      <th scope="col">Review</th>
      <th scope="col">Submit</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td><%= f.text_field :student %></td>
        <td><%= f.text_field :subject %></td>
        <td><%= f.number_field :mark %></td>
        <td><%= f.text_field :mistake %></td>
        <td><%= f.submit %></td>
      </tr>
    </tbody>
  </table>
<% end %>
