<h1><%= @homework.student %>'s information</h1>

<h3>Student: <%= @homework.student %></h3>
<h3>Subject: <%= @homework.subject %></h3>
<h3>Mark: <%= @homework.mark %></h3>
<h3>Rewiev: <%= @homework.mistake %></h3>

<p><%= link_to 'Back', homeworks_path %></p>