<%= form_for [@flight, @ticket] do |f| %>
  <table class="table-active" align="center">
  <thead>
    <tr align="center">
      <th scope="col">Place</th>
      <th scope="col">Place type</th>
      <th scope="col">Passenger</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td><%= f.number_field :place %></td>
        <td>
          <%= f.select :place_type, Ticket.place_types.keys %>
        </td>
        <td><%= current_user.name %></td>
        <td><%= f.submit %></td>
      </tr>
    </tbody>
  </table>
<% end %>