<div class="p-3 mb-2 bg-dark text-white">
  <h1>All tickets of <%= @flight.name %> flight</h1>

  <% @flight.tickets.each do |ticket| %>
    <h3>
      Ticket № <%= ticket.id %></br>
      Place: <%= ticket.place %></br>
      Place type: <%= ticket.place_type %></br>
      Passenger: <%= ticket.user.name %>
    </h3>
  <% end %>
</div>
<p><button type="button" class="btn btn-outline-primary">
  <%= link_to 'Back to flights', flights_path %></button>
