<tr scope= 'row'>
  <td><%= @@place += 1 %></td>
  <td><%= player.name + ' ' + player.second_name %></td>
  <td><%= player.age %></td>
  <td><%= player.country %></td>
  <td><%= player.rating %></td>
</tr>