<h2>Show info about <%= @user.name + ' ' + @user.second_name %> user</h2>

<h3>
  <p>Name: <ins><%= "#{@user.name} #{@user.second_name}" %></ins></p>
  <p>Email: <b><%= @user.email %></b></p>
  <p>Avatar: <%= image_tag(@user.avatar_url(:thumb)) if @user.avatar.present? %></p>
  <p><%= @user.admin? ? 'User is an admin' : "User isn't an admin" %></p>
  <p> 
    <% if @user.admin? %>
      <%= link_to 'Make user', admin_user_path(@user, user: { admin: false }),
                                              method: :patch, remote: true %>
    <% else %>
      <%= link_to 'Make admin', admin_user_path(@user, user: { admin: true }),
                                              method: :patch, remote: true %>
    <% end %>  
    </p>
</h3>