<tr>
  <td><%= ticket.place %></td>
  <td><%= ticket.place_type %></td>
  <td><%= ticket.user.email %></td>
  <td><%= link_to 'Update', edit_ticket_path(ticket) %></td>
  <td><%= link_to 'Show', ticket %></td>
</tr>