<!DOCTYPE html>
<html>
  <head>
    <title>AppAirport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div align="right" class="p-3 mb-2 bg-dark text-white" >
    <%= render user_signed_in? ? 'layouts/logged' : 'layouts/unlogged' %>
  </div>
    <div class="p-3 mb-2 bg-dark text-white"><%= yield %></div>
  </body>
</html>
