<h5 class= "p-3 mb-2 bg-dark text-white" align="right">
<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to 'Log out', logout_path%>
<% else %>
  <%= link_to 'Sign up', signup_path %> or
  <%= link_to 'Log in', login_path %>
<% end %>
</h5>
  
<h1 class= "p-3 mb-2 bg-dark text-white" align="center">All accept flights</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Flight</th>
      <th scope="col">Departure at</th>
      <th scope="col">Arrival at</th>
      <th scope="col">Appointment country</th>
      <th scope="col">Appointment city</th>
    </tr>
  </thead>
  <%= render @flights %>
</table>