<!DOCTYPE html>
<html>
  <head>
    <title>GeekHub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p align="right"><%= link_to 'Go back to User', root_path %></p>
    <%= yield %>
  </body>
</html>
