<%= form_for [@course, @homework] do |f| %>
  <% if @homework.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@homework.errors.count, "error") %> prohibited
        this homework from being saved:
      </h2>
      <ul>
        <% @homework.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :task %>
    <%= f.text_field :task %>
  </p>

  <p>
    <%= f.label :deadline %>
    <%= f.text_field :deadline %>
  </p>

  <p><%= f.submit %></p>
<% end %>