<h1>Whole information about <%= @project.student.name %>'s project</h1>

<h3></h3>

<h3>Name: <%= @project.name %></h3>
<h3>Task: <%= @project.task %></h3>
<h3>Deadline: <%= @project.deadline %></h3>

<%= link_to 'Back to courses', root_path %>
